.theme{
    background: var(--border);
    outline: none;
    border: none;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    transform: scale(1.5);
    transition: all .1s;
}

.theme:hover{
    transform: scale(1.6);
}